#hero {
    height: 80vh;
    overflow: hidden;
    position: static;
  }
  
  #hero h1 {
    display: flex;
    justify-content: center;
    padding-top: 36vh;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 36px;
    background-image: url(img/ip14-overview.png);
    background-size: 100%;
  }