nav {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
}


nav div {
  height: 100%;
  display: flex;
  align-items: center;
}

nav > div > img {
  height: 50%;
  padding-right: 10%
}

nav > img {
  display: flex;
  height: 80%;
}

nav > .kategori > a {
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.kategori {
  display: none;
}

@media (min-width: 360px) {
  .kategori{
    display: flex;
  }
  .kategori-trigger {
    display: none;
  }
}