
.navbar{
    background-color :black;
    justify-content: space-between;
    display: flex;
    height: 44px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.logo{
    display: flex;
    height: 40px;
    align-items: center;
}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 16px;
    justify-content: space-between;
    padding: 0 8px;
}


.menu-list {
    display: flex;
}

.tools {
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}

.menu-trigger {
    display: none;
}


.menu {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 99;
    position: fixed;
    background-color: white;
    top: 55px;
    width: 100px;
    transform: translateX(-100%);
    transition-duration: 300ms;
  }
  
  @media (min-width: 768px) {
    .menu {
      transform: translateX(0) !important;
      display: flex;
      position: static;
      flex-direction: row;
      background-color: inherit;
      width: auto;
    }
    .menu-trigger {
      display: none;
    }
  }
  
  nav > .menu > a {
    padding: 0 8px;
    height: 44px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }