body {
    margin: 0;
}

nav{
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

nav h3 {
    color: white;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav div {
    height: 100%;
    display: flex;
    align-items: center;
}

nav img {
    padding: 0 10px;
    height: 35%;
}

nav > .menu > a {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.judul {
    text-align: center;
}